@value makerWheat, makerShadow, makerDarkPink, makerMiddlePink, makerLightPink from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.2em 0;
  border-radius: 1rem;
  box-shadow: 6px 6px 8px 8px makerShadow;
  width: 100%;
  max-width: 30rem;
  list-style: none;
}

.card.dark {
  background-color: makerDarkPink;
  color: makerWhite;
}

.card.middle {
  background-color: makerMiddlePink;
  color: makerBlack;
}

.card.light {
  background: makerLightPink;
}

.info {
  width: 100%;
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}

.name .company .title .email .message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: makerWheat;
  transform: translateY(0.5em);
}
