@value markWhite, makerDarkBeige from '../../common/colors.css';

.content {
  flex-basis: 50%;
  text-align: center;
  padding: 0.5em 2em;
  overflow-y: auto;
}

.title {
  color: makerDarkBeige;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}
