@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

@value makerWhite, makerDarkBeige, makerMiddlePink from '../../common/colors.css';

h1 {
  margin: 0;
}

.header {
  font-family: 'Caveat Brush', cursive;
  font-size: 1.4rem;
  text-align: center;
  color: makerDarkBeige;
  background-color: makerMiddlePink;
  padding: 1.5rem 0;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 900;
  margin: 1rem;
  padding: 0.3rem 0.7rem;
  border: 0;
  border-radius: 1rem;
  color: makerDarkBeige;
  background-color: makerWhite;
}
